#wrapper {
  height: 100%;
  background: inherit;

  display: flex;
  flex-direction: column;

  nz-layout {
    background: inherit;
    flex-grow: 1;
    overflow-y: auto;

    >nz-sider {
      background: inherit;

      ul {
        height: 100%;
      }
    }
  }

  nz-footer {
    margin-bottom: 20px; // 为底部工具栏留出空间
    padding-bottom: 10px; // 额外的内边距
    button {
      margin-right: 8px;
    }
  }
}
