<nz-button-group>
    <button [disabled]="!enabled" nz-button nzType="default" (click)="compile()" title="编译"><i nz-icon nzType="build"></i></button>
    <button [disabled]="!enabled" nz-button nzType="default" (click)="runExe()" title="运行"><i nz-icon nzType="play-circle"></i></button>
    <button [disabled]="!enabled || !isDSALabTab" nz-button nzType="primary" (click)="runTest()" title="测试评分" class="test-button">
        <i nz-icon nzType="experiment"></i> 测试
    </button>
</nz-button-group>
<nz-button-group>
